<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> 
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <div id="hding"><h1>Pix2Vox</h1></div>
    <div id="parent-con">
        <div id="coldiv">
            <div class="rowsdiv">
                <div><img src="mic (1).png" alt="img"></div>
                <div><a href="/t2v"><input type="button" class="button1" value="Text2Voice"></a></div>
            </div>
            <div class="rowsdiv" id="set2">
                <div id="img2"><img src="google-photo (1).png" alt="img"></div>
                <div> <a href="/t2i"><input type="button" class="button2" value="Text2Image"></a></div>
            </div>
        </div>   
    </div>
</body>
</html>