<!-- t2v.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini</title>
    <link rel="stylesheet" href="t2v.css">
</head>
<body>
  <div id="t2vhd"><h1>Audio Modulation</h1></div>
  <div id="parent-cont">
        <div class="container">
          <div class="login form">
            <header style="color: rgb(206, 102, 5);">Upload Files</header>
            <form action="/submit" method="post" enctype="multipart/form-data">
              <p class="hdfields">TextFile</p><input type="text" class="filefield" placeholder="textfile" name="text" id="text">
              <p class="hdfields">AudioFile</p><input type="file" class="filefield" placeholder="audiofile" name="audiofile" id="audiofile">
              <input type="submit" class="button" value="Generate">
            </form>
          </div>
        </div>
        <div class="loginimage">
          <img src="music-folder.png" alt="loginpicture" class="image">
          <div class="overlay">
            <div class="text">It is Voice modulation model. You have to give text file and sample audio file(minimum 30 seconds) as input and audio file will be downloaded.</div>
          </div>
      </div>
    </div>
  </body>
</html>